<h1>Add To Cart</h1>

<div>
    <p>The product has been added to your cart successfully.</p>
    <a asp-action="Index" asp-controller="Product">Continue Shopping</a>
    <a asp-action="ViewCart" asp-controller="ShoppingCart">View Cart</a>
</div>